<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B858E1E41E82F6C100F3818F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B858E2001E82F6C100F3818F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B858E20B1E82F6C100F3818F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
